html, body {
	margin: 0;
	padding: 0;
	overflow: hidden;
}
body{
	background-color: #222;
	font-family: 'Roboto', sans-serif;
	display: flex;
}
#bg{
	width: 100vw;
	height: 100vh;
	top: 0;
	left: 0;
	position: absolute;
	display: block;
	background-image: url('http://orig10.deviantart.net/41bc/f/2014/135/5/c/grunge_texture_4_by_allthingsprecious-d7ifmb3.jpg');
	background-size: cover;
	opacity: .2;
	z-index: 1;
}	
#container{
	flex-direction: column;
	display: flex;
	position: relative;
	justify-content: center;
	opacity: 1;
	width: 75%;
	margin: auto;
	text-align: center;
	font-color: #F2F2F2;
	z-index: 5;
	min-height: 100vh;
}
#header{
	display: block;
	position: absolute;
	width: 100%;
	text-align: center;
	margin: 20px auto 75px auto;
}
#header #url{
	background-color: #3997b5;
	padding: 5px 15px;
	color: #F2F2F2;
	font-weight: bolder;
	border-radius: 7px;
}
#header #shortner{
	color: #3997b5;
	font-weight: bold;
	font-size: 18px;
}
#container #alert{
	display: block;
	color: #F2F2F2;
	font-weight: bold;
	margin-bottom: 10px;
}
#container #input{
	display: block;
	margin: 15px 0px;
	align-items: center;
}
#container #input #url{
	vertical-align: middle;
	background-color: rgba(0,0,0,.5);
	border: 0px;
	padding: 10px;
	border-radius: 7px 0px 0px 7px;
	outline: none;
	width: 50%;
	color: #F2F2F2;
}
#container #input i{
	margin-left: -4px;
	vertical-align: middle;
	border-radius: 0px 7px 7px 0px;
	background-color: rgba(0,0,0,.5);
	padding: 6px 10px 5px 10px;
	color: #F2F2F2;
	font-weight: bold;
	cursor: pointer;
}
#errors{
	display: block;
	width: 100vw;
	position: absolute;
	top: 0;
	z-index: 10;
}
#errors div{
	display: block;
	min-width: 100%;
	padding: 15px 25px;
	border: 1px solid rgba(0,0,0,.5);
	background-color: lightgrey;
	vertical-align: middle;
	cursor: pointer;
}
#errors div i{
	display: inline-block;
    border-radius: 50%;
    border: 2px solid rgba(0,0,0,0.2);
    color: rgba(0,0,0,.2);
    position: absolute;
    right: 12px;
    margin-top: -5px;
}
#errors .error{
	background-color: red;
}
#errors .warning{
	background-color: orange;
}
#errors .alert{
	background-color: lightgrey;
}
#errors .success{
	background-color: green;
}
#sl{
	color: #F2F2F2;
	font-size: 18px;
	font-weight: bold;
}
#homebtn{
	text-decoration: none;
    color: #F2F2F2;
    font-weight: bold;
    background-color: darkred;
    padding: 7px 20px;
    display: block;
    width: 100px;
    margin: 15px auto;
    border-radius: 7px;
}
#footer{
	display: block;
	width: calc(100% - 50px);
	position: absolute;
	bottom: 0;
	height: 15px;
	background-color: rgba(0,0,0,.4);
	z-index: 10;
	padding: 15px 25px;
	color: #FEFEFE;
	color: rgba(255,255,255,.4);
}
#footer .right{
	float: right;
	text-align: right;
}
#footer a{
	color: #3997b5;
	text-decoration: none;
}
#footer a:hover{
	font-weight: bolder;
	color: #3997b3;
}